.mat-tab-link.mat-tab-label-active{
    color: #67E0F0;
    font-family: Open Sans,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    opacity:1;
}
.mat-tab-link{
    color: #8f9bb3;
    font-family: Open Sans,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: capitalize;
    text-decoration: none;
}